#category-banner{

}
#category-banner .holder{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}
#category-banner .holder{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}
#category-banner .parallax-category-desk div:first-child{
    filter: brightness(40%);
}
#category-banner .parallax-category-desk .carousel-caption.content-category{
    bottom: 35%;
}
#category-banner .parallax-category-desk .carousel-caption.content-category h1{
    font-family: 'Silka-bold';
    font-size: 34px;
    color: #FFFFFF;
}
#category-banner .parallax-category-desk .carousel-caption.content-category span{
    font-family: 'Silka-regular', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}
#category-propiedades .holder{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    margin-top: 25px;
}
#empieza{

}
#empieza .holder{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    margin-top: 156px;
    margin-bottom: 156px;
}
#empieza .parallax-category-banner-desk{
    border-radius: 15px;
}
#empieza .parallax-category-banner-desk div:first-child{
    filter: brightness(40%);
}
#empieza .parallax-category-banner-desk .carousel-caption.content-category{
    bottom: 40%;
}
#empieza .parallax-category-banner-desk .carousel-caption.content-category h1{
    font-family: 'Silka-regular', sans-serif;
    font-size: 28px;
    color: #FFFFFF;
}
#empieza .parallax-category-banner-desk .carousel-caption.content-category span{
    font-family: 'Silka-bold';
    font-size: 28px;
    color: #CC9964;
}
#form{

}
#form .holder{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    padding: 25px 0px 25px 0px;
}
#form .menu{
    width: 100%;
    background: #FFFFFF;
    padding: 15px 20px;
    border-radius: 5px;
}
#form .menu select{
    font-family: 'Silka-regular', sans-serif;
    font-size: 16px;
    background: #EEEEEE;
    color: #646464;
    background-image: url('../icons/dropdown.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    -webkit-appearance: none;
    border: black;
}
#form .menu select:focus{
    border: black;
    box-shadow: none;
}
#form .menu .inputs-range {
    background: #EEEEEE;
    border-radius: 5px;
    height: 100%;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
#form .menu .inputs-range .row{
    margin-top: 20px;
    padding: 0 10px;
}
#form .menu .inputs-range span{
    color: #646464;
    font-family: 'Silka-regular', sans-serif;
    font-size: 9px;
}
#form .menu .inputs-range .range{
    position: relative;
    margin: 8px;
}
#form .menu .inputs-range .range input[type=range]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
#form .menu .inputs-range .range input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}
#form .menu .inputs-range .range input[type=range]:focus {
    outline: none;
} 
#form .menu .inputs-range .range input[type=range]:focus::-webkit-slider-runnable-track {
    background: #CC9964;
}
#form .menu .inputs-range .range input[type=range]:focus::-ms-fill-lower {
    background: #CC9964;
} 
#form .menu .inputs-range .range input[type=range]:focus::-ms-fill-upper {
    background: #CC9964;
} 
#form .menu .inputs-range .range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: #CC9964;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
#form .menu .inputs-range .range input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #CC9964;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #CC9964;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
#form .menu button{
    background: #CC9964;
    color: #FFFFFF;
}
@media (max-width: 767px){
    #category-banner .parallax-category-desk{
        height: 360px !important;
    }
    #category-banner .parallax-category-desk .carousel-caption.content-category{
        bottom: 10%;
    }
    #category-banner .parallax-category-desk .carousel-caption.content-category h1{
        font-size: 26px;
    }
    #category-banner .parallax-category-desk .carousel-caption.content-category span{
        font-size: 14px;
    }
    #category-propiedades .holder{
        padding: 0px 0px;
    }
    #empieza .holder{
        margin-top: 70px;
        margin-bottom: 110px;
    }
    #empieza .parallax-category-banner-desk{
        border-radius: 0px;
    }
    #empieza .parallax-category-banner-desk .carousel-caption.content-category{
        bottom: 30%;
    }
    #empieza .parallax-category-banner-desk .carousel-caption.content-category h1{
        font-size: 22px;
    }
    #empieza .parallax-category-banner-desk .carousel-caption.content-category span{
        font-size: 22px;
    }
    #form .holder{
        padding: 30px 17px 30px 17px;
    }
    #form .holder .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    #form .menu{
        width: 100%;
        background: #FFFFFF;
        padding: 15px 10px !important;
        border-radius: 5px;
    }
    #form .menu select{
        font-size: 12px;
        height: 40px;
    }
}